html {
  scroll-behavior: smooth;
  background-color: var(--background);
  color:var(--paragraph);
  font-family: 'Bungee', sans-serif;
  /* scroll-snap-type: proximity; */
}

h1{
  color:var(--hover)
}

nav{
  background-color:var(--paragraph);
  color:var(--paragraph);
  padding: 1px 0px;
}


nav > ul{ 
  list-style-type: none;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
nav > ul >li{
 padding: 0px 10px;
}

a:link{
  text-decoration: none;
}

nav a:visited{
  color:var(--accent);
}

nav a:hover{
  color:var(--paragraph);
  transition: color  0.75s ease;
}

nav > ul >li:hover{
  background-color:var(--background);
  transition: background-color  0.75s ease;
  border-radius: 5px;
}


:root{
  --background: #d6d4e0;
  --paragraph:#622569;
  --accent: #b8a9c9;
  --hover: #5b9aa0;
}

footer > div{
  display:flex;
  justify-content: space-between;
  margin:50px;
}

.jump-top{
  display:flex;
  justify-content: center;
  margin:50px;
  color:var(--accent);
}

.icon{
  color:var(--paragraph);
}

.icon:hover{
  color:var(--hover);
}

.jump-top:hover{
  color:var(--hover);
}


.icon:active{
  color:var(--background);
  transition: color 0.5s ease;
}

